name: Build and publish NFS export image

on:
  workflow_dispatch:

jobs:
  build-and-push:
    name: Build and publish
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get publish tag
        id: get-publish-tag
        run: |
          PUBLISH_TAG=$(cat output/nfs/publish-tag.txt)
          echo "tag=$PUBLISH_TAG" >> "$GITHUB_OUTPUT"

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: output/nfs
          push: true
          tags: ${{ steps.get-publish-tag.outputs.tag }}
