name: Build and release components

on:
    workflow_dispatch:

permissions:
  contents: read
  pages: write

jobs:
    build-and-push:
        name: Build and publish
        runs-on: ubuntu-latest
        timeout-minutes: 10
        permissions:
            contents: read
            packages: write
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: 10.7.1

            - name: Setup node
              uses: actions/setup-node@v6
              with:
                  node-version: 22
                  cache: pnpm

            - name: Install
              run: pnpm install --frozen-lockfile

            - name: Lint
              run: pnpm run --recursive lint

            - name: Bundle
              run: pnpm run --recursive bundle

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Get publish version
              id: get-publish-version
              run: |
                  PUBLISH_VERSION=$(node -e "console.log(require('./package.json').version)")
                  echo "version=$PUBLISH_VERSION" >> "$GITHUB_OUTPUT"

            - name: Build and push reflektor input
              uses: docker/build-push-action@v6
              with:
                  context: input/dist
                  file: input/Dockerfile
                  push: true
                  tags: ghcr.io/limberas/reflektor-input:${{ steps.get-publish-version.outputs.version }}

            - name: Build and push reflektor output/nfs
              uses: docker/build-push-action@v6
              with:
                  context: output/nfs
                  push: true
                  tags: ghcr.io/limberas/reflektor-output-nfs:${{ steps.get-publish-version.outputs.version }}

            # add output web component here

            - name: Upload GitHub Pages artifact
              uses: actions/upload-pages-artifact@v3
              with:
                path: ./repo

            - name: Publish Helm chart
              uses: actions/deploy-pages@v4



